<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>HelthMoney</title>
</head>
<body>

    <div class="container">
        <div class="square">
            <div class="bar green" data-height="{{ green }}">Receitas</div>
            <div class="bar orange" data-height="{{ orange }}">Despesas</div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>