<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>HelthMoney</title>
</head>

<body>
    <!-- navbar -->
    <img src="../static/midia/baner_2.jpg" alt="Baner" class="baner">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">
               
                HelthMoney
            </a>
            {% block botao %}

            {% endblock %}
        </div>
    </nav>

    <!-- Conteúdo da pagina -->

    <div class="container mt-5">
        {% block conteúdo %}
        
        {% endblock %}

    </div>

    <script src="../static/js/bootstrap.bundle.min.js"></script>.
    <script src="{{ url_for('static', filename='script.js') }}"></script>.
</body>

</html>